/*@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');*/

body{
	width: 100vw;
	height: 100vh;
	margin:0;
	padding: 0;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
url('background.jpg');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none
	/*background: red;*/
}

#rect{
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
	width:80vw;
	height: 80vh;
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('background.jpg');
	background-size: cover;
	text-align: center;
	line-height: 100%;
}
#opening-tag{
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%,-50%);

	font-size: 200px;
	color: white;
	font-weight: 100;

	font-family: 'Rock Salt', cursive;
}
#greeting{
	position: relative ;
	top: 30%;
	/*left: 50%;*/
	transform: translate(-50%,-50%);

	font-size: 110px;
	color: red;

	font-family: 'Rock Salt', cursive;
}

#closing-tag{
	position: relative;
	top:30%;
	transform:translate(-50%,-50%);
	font-size: 150px;
	color: white;
	font-family: 'Rock Salt', cursive;
	font-weight: bold;
}
#intro-first{
	position: absolute;
	top:70%;
	/*left:20%;*/
	transform:translate(-50%,-50%);
	font-size: 80px;
	color: white;
	font-family: "Anton",monospace;
	font-weight: bold;
}
#descr{
	position: absolute;
	top:90%;
	/*left: 20%;*/
	color:#fdfe71;
	font-size: 40px;
	font-family: "Anton";
}
@media  screen and (max-device-width: 640px) {
  #rect{
  	width: 100vw;
  	height: 100vh;

  }
  #opening-tag{
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%,-50%);

	font-size: 250px;
	color: white;
	font-weight: 100;

	font-family: 'Rock Salt', cursive;
}
	#greeting{
		position: relative ;
		top: 40%;
		/*left: 50%;*/
		transform: translate(-50%,-50%);

		font-size: 130px;
		color: red;

		font-family: 'Rock Salt', cursive;
	}

	#closing-tag{
		position: relative;
		top:40%;
		transform:translate(-50%,-50%);
		font-size: 170px;
		color: white;
		font-family: 'Rock Salt', cursive;
		font-weight: bold;
	}
	#intro-first{
		position: absolute;
		top:60%;
		/*left:20%;*/
		width: max-content;
		transform:translate(-50%,-50%);
		font-size: 90px;
		color: white;
		font-family: "Anton",monospace;
		font-weight: bold;
	}
	#descr{
		position: absolute;
		top:70%;
		left: 10%;
		width: max-content;
		color:#fdfe71;
		font-size: 70px;
		font-family: "Anton";
	}


 
}
